* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
}

/* Inicio CSS para HTML Index */

.cabeza {
    width: 100%;
    height: auto;
    min-height: 120px;
    background-color: #FFAD2C;
    border-bottom: solid #B6500E 5px;
}

.cabeza__hamburguesa {
    display: none;
}

.logo {
    width: 70px;
    height: 70px; 
    margin-top: 10px;
}



.banner {
    width: auto;
    height: auto;
}


.editorial {
    height: 100%;
    width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.editorial-div {
    width: auto;
    height: 35rem;
}

.editorial-img {
    width: 50%;
    height: 50%;
}


.mangakas {
    height: auto;
    width: 100%;
}

.mangakas-img {
    width: 100%;
    height: 200px;
}


.recomienda {
    width: 100%;
    height: auto;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
}

.recomienda__titulo {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.recomienda__div {
    height: 100px;
    width: 100%;
}

.recomienda__img {
    height: auto;
    width: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.recomienda__img:hover {
    transform: scale(1.15);
}


.pie {
    width: 100%;
    height: 100px;
    background-color: #FFAD2C;
    border-top: solid 6px #B6500E;
    margin-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pie-lista {
    list-style: none;
    padding-top: 15px;
    font-size: 20px;
}

.redes {
    height: 40px;
    width: 40px;
    margin-top: 28px;
    margin-right: 20px;
}

/* Fin de CSS para HTML Index */

/* Inicio de CSS para HTML Info */

.info-h1 {
    display: block;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8%;   
}

.info__iframe {
    height: 550px;
    width: 100%;
}

.info__text {
    height: 100%;
    width: 100%;
}

.info__banner--img {
    width: 100%;
    height: 100%;
}

.info__img--img {
    width: 100%;
    height: 100%;
}

/* Fin de CSS para HTML Info */
/* Inicio de CSS para HTML Sucursales */

.sucursal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sucursal__titulo {
    padding-left: 8%;
}

.sucursal__h1 {
    display: block;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sucursal__mapa {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.local {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.local__div {
    height: 100%;
    width: 35%;
    background-color: #F7F3F2;
    border: solid #E0DFDD 5px;
    border-radius: 10px;
    padding: 30px;
}

.local__div img {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
}

.local__div--span {
    font-weight: bold;
    font-size: 18px;
}

/* Fin de CSS para HTML Sucursales */
/* Inicio de CSS para HTML Merch */

.merch {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.merch__h1 {
    display: block;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8%;
}

.merch__lista {
    height: 100px;
    list-style: none;
    margin-top: 100px;
    margin-right: 160px;
}


.manga__art {
    height: 100%;
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.art-img {
    height: 80%;
    width: 80%;
    background-color: #F7F3F2;
    border: solid #E0DFDD 5px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}

.manga__art--img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.manga__art--img:hover {
    transform: scale(1.15);
}

.manga__art--h2 {
    text-align: center;
    font-size: 150%;
    padding-bottom: 15px;
}

.manga__art--button {
    width: 150px;
    height: 30px;
}

/* Fin de CSS para HTML Merch */
/* Inicio de CSS para HTML Contacto */

.contacto__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 1fr;
    grid-template-areas: 
    "tit tit"
    "nom men";

    justify-items: center;
    margin-bottom: 9rem;
}

.contacto__titulo {
    width: 100%;
    padding-top: 20px;
    padding-left: 160px;
    grid-area: tit;
}

.contacto__h1 {
    font-size: 50px;
}

.contacto__div {
    height: 100%;
    width: 70%;
    margin-left: 45px;
}

.contacto__lista {
    list-style: none;
}

.contacto__input {
    width: 70%;
    height: 30px;
}

.contacto__div--nom {
    grid-area: nom;
}

.contacto__div--men {
    grid-area: men;
}

.mensaje {
    display: flex;
    padding-bottom: 15px;
    padding-top: 40px;
    font-size: 19px;
    font-weight: bold;
}

.comentario {
    width: 100%;
}

#mensaje__enviar {
    margin-top: 10px;
    width: 80px;
    height: 25px;
}

/* Fin de CSS para HTML Contacto */